.main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.header-text {
  display: block;
  font-size: 2rem;
  font-family: "Inconsolata", "Space Mono", "Roboto", sans-serif;
}

#change-color-btn {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  background-color: #333;
  border-radius: 0.5rem;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}
#change-color-btn:hover {
  transform: scale(1.1)
}

.bottom-container {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-404-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.scare-crow-404-image {
  height: 414px;
  width: 539px;

}

.content-404-container {
  width: 50%;
}

.main-404-title {
  font-size: 6.4rem;
  font-weight: 700;
  color: #333;
}
.info-text-404 {
  display: block;
  width: 60%;
  font-size: 2.4rem;
  margin: 3rem 0;
}

.go-home-link {
  font-size: 1.8rem;
  color: #fff;
  background-color: rgba(51, 51, 51, 0.589);
  font-weight: bold;
  padding: 2rem 4rem;
  text-decoration: none;
  display: inline-block;
  margin-top: 3rem;
  text-transform: uppercase;
}

.go-home-link:hover {
  background-color: #333;

}
@media screen and (min-width: 1400px) {
  .main-container {
    width: 1400px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 2rem 4rem;
  }
  .error-404-container {
    flex-direction: column;
    align-items: center;
  }
  .content-404-container {
    width: 90%;
  }
  .info-text-404 {
    width: 90%;
  }
}

@media screen and (max-width: 720px) {
  /*Empty query*/
}

@media screen and (max-width: 360px) {
  /*Empty query*/
}