@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto&family=Space+Mono&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Space Mono", "Roboto", sans-serif;
  font-size: 62.5%;
}